@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');

body, html {
    height: 100%;
    margin: 0;
}

h1 {
    color: rgba(253, 201, 61, 0.9);
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
    margin: 0;
    padding-top: 30px;
    text-align:center;
    width: 100%;
}

h2 {
    color: rgba(253, 201, 61, 0.7);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align:center;
    width: 100%;
}

.btn-large {
    color: #000;
    background-color: rgba(253, 201, 61, 1);
}

.btn-large:hover  {
    background-color: rgba(65,105,225, 1);
}

.btn-main {
    bottom: 40px;
    position: fixed;
    right: 20px; 
}

.background-main {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../media/larissa_robson_ensaio_001.jpg");
    height: 100%;
}