@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("/assets/icons/pattern68.png") repeat center fixed #000;
  color: #333;
  font-family: 'Noto Sans', sans-serif;
}

a, a:hover {
  color: #333;
  text-decoration: none;
}

blockquote {
  margin: 30px 10px;
  font-size: 16px;
}

h1 {
  color: inherit;
  word-spacing: 1px;
  font-size: 54px;
}

h2 {
  color: inherit;
  font-size: 28px;
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
  word-spacing: -1px;
}

nav {
  border-bottom: 1px solid #eee;
  padding: 10px 50px 30px 40px;
}

section {
  padding: 20px 5px;
}

noscript {
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 8px 0px;
  text-align: center;
  width: 100%;
}

.wrapper {
  background: #FFF;
  color: inherit;
  margin: 3% auto;
  width: 70%;
  padding: 10px 10px;
  border-radius: 10px;
}

.wrapper-separator {
  background: url("/assets/icons/arabesco32.png") no-repeat #be9732;
  display: block;
  height: 18px;
  margin: 20px 0 10px 0;
  position: relative;
  width: 44px;
}

.color-gold {
  color: #be9732;
}

.color-red {
  color: rgb(255, 0, 0);
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #be9732;
}

.nav-pills > li > a:active,
.nav-pills > li > a:focus {
  color: #333;
}

.default-text {
  padding: 0px 40px;
  text-align: justify;
  text-indent: 15px;
}

/* Lista de presentes */
section#gifts > #gifts-list {
  display: block;
}

.gift-box {
  margin: 0 10px 20px 10px;
}

.gift-box > .gift-box-content {
  background: #fafafa;
  border: 1px solid #000;
  margin: 0px 33px;
}

.gift-box > .gift-box-content > h4 {
  background: #be9732;
  color: #FFF;
  padding: 5px 0px;
  margin: 20px -15px 10px -15px;
}

.gift-box > .left-ribbon {
  background: url("/assets/icons/left-ribbon-gold.png") no-repeat;
  display: block;
  min-height: 40px;
  min-width: 49px;
  position: absolute;
  top: 26px;
  left: 10px;
  z-index: 10000;
}

.gift-box > .right-ribbon {
  background: url("/assets/icons/right-ribbon-gold.png") no-repeat;
  display: block;
  min-height: 40px;
  min-width: 49px;
  position: absolute;
  top: 26px;
  right: 9px;
  z-index: 10000;
}

.gift-box > .gift-box-content > center > .gift-icon {
  color: #ececea;
  font-size: 72px;
  margin: 30px 0px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.text-container {
  margin: 30px 20px;
}

.text-container > p {
  text-align: justify;
  text-indent: 15px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  border: 12px solid #f3f3f3;
  border-left: 12px solid #be9732;
  
  border-radius: 50%;
  
  width: 120px;
  height: 120px;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-loading {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba(0, 0, 0, 0.9) no-repeat;
}

#map-location-church, #marriage-party-location {
  border: 1px solid #AAA;
  border-radius: 5px;
  height: 300px;
}

.avatar-couple {
  background: url("/media/larissa_robson05.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

.gift-honeymon-item {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  height: 200px;
  width: 100%;
}
.gift-icon-class-tango {
  background-image: url("/assets/icons/honeymoon/class-tango.jpg");
}

.gift-icon-breakfast {
  background-image: url("/assets/icons/honeymoon/breakfast.jpg");
}

.gift-icon-wine-bottle {
  background-image: url("/assets/icons/honeymoon/wine-bottle.jpg");
}

.gift-icon-tour-river-rio-prata {
  background-image: url("/assets/icons/honeymoon/tour-river-rio-prata.jpg");
}

.gift-icon-tour-buenos-aires {
  background-image: url("/assets/icons/honeymoon/tour-buenos-aires.jpg");
}

.gift-icon-temaiken-zoo {
  background-image: url("/assets/icons/honeymoon/temaiken-zoo.jpg");
}

.gift-icon-tour-pubs-buenos-aires {
  background-image: url("/assets/icons/honeymoon/tour-pubs-buenos-aires.jpg");
}

.gift-icon-breakfast-close-pool {
  background-image: url("/assets/icons/honeymoon/breakfast-close-pool.jpg");
}

.gift-icon-restaurant {
  background-image: url("/assets/icons/honeymoon/restaurant.jpg");
}

.gift-icon-spa {
  background-image: url("/assets/icons/honeymoon/spa.jpg");
}

.gift-icon-romantic-dinner {
  background-image: url("/assets/icons/honeymoon/romantic-dinner.jpg");
}

.gift-icon-museum {
  background-image: url("/assets/icons/honeymoon/museum.jpg");
}

.gift-icon-theatro {
  background-image: url("/assets/icons/honeymoon/theatro.jpg");
}